.post_box {
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  background-color: cornflowerblue;
  color: #fff;
  padding: 0.7rem 1.4rem;
  border-radius: 1rem;
  text-align: left;
  display: grid;
  gap: 1rem;
}
.post_title {
  font-size: 1.1rem;
  font-weight: 600;
}
